spring:
  datasource:
    url: jdbc:h2:mem:ordermgmt;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

app:
  invoices:
    path: ${java.io.tmpdir}/invoices

logging:
  level:
    root: INFO
    com.example.ordermanagement: DEBUG

